.homepage {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
  height: 85vh;
  padding-left: 33%; /* Distance from the left border */
  color: #f4f4f4;
  background-color: #333333;
}

.slogan {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px; /* Space between title and paragraph */
}

.text {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 50%; /* Limit text width for better readability */
}