.partners-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 logos per row */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 400px;
    padding-top: 300px;
  }
  
  .partner-card {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(185, 185, 185);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .partner-logo {
    max-width: 85%;
    height: auto;
    object-fit: contain;
  }  